:root {
    --background-color: #0a1b2a;
    --primary-color: #204a6a;
    --secondary-color: #5c97b3;
    --tertiary-color: #b9d1e1;
    --nav: #204a6a;
    --text: #fff;
    --text-reverse: #000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--nav);
    padding: 30px 0;
    display: flex;
}

nav a {
    color: var(--text);
    text-decoration: none;
    padding: 0 10px;
}

nav div {
    margin-left: 50%;
    transform: translateX(-50%);
}

.part-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.part {
    width: 250px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.part img {
    width: 90%;
    border-radius: 5px;
    margin: auto;

}   
.part h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.part p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.grab-button {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: var(--text);
    width: 100%;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.grab-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}
.confirmation-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1001; /* Ensure it's above the overlay */
    text-align: center;

}
.confirmation-box h2 {
    margin-top: 0;
    font-weight: normal;
}
.confirmation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.confirmation-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    font-size: 18px;

}
.confirmation-button:hover {
    background-color: #ddd;
}


/* Make the No button red and text white */
.confirmation-button:nth-child(2) {
    border: 4px solid;
    color: var(--text-reverse);
    background-color: var(--text);
    border-color: var(--primary-color);
}


/* Apply gradient to the Yes button */
.confirmation-button:nth-child(1) {
    background-color: var(--primary-color);
    color: var(--text);
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.controls select,
.controls input[type="text"] {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    outline: none;

}

.controls input[type="text"]{
    width: 350px;
    transition: all 0.3s ease;
}

.controls select{
    background-color: #fff;
}


.wifi-icon {
    color: var(--text);
    font-size: 40px;
    margin: auto;
    margin-left: 10px;
    margin-top: 10px;
}

